/* Styles for Qwan Porchia's Resume */
body {
  font-family: Arial, sans-serif;
  color: #444;
  margin: 0;
  padding: 20px;
  background-color: #f4f4f4;
}

/* Resume container */
#container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 50px;
}

/* Name styling */
#name {
  color: #33485e;
  font-size: 3em;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid #33485e;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
}

/* Section header styling */
.sectionheader {
  color: #fff;
  background-color: #33485e;
  font-size: 1.5em;
  font-weight: 400;
  text-transform: uppercase;
  margin: 20px 0 10px 0;
  padding: 5px 0 5px 10px;
  width: 100%;
  min-width: 300px;
}

/* Title styling */
#title {
  color: #33485e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  margin: 20px 0 0;
}

/* Job metadata */
.jobtitle {
  font-size: 1.5em;
  font-weight: 600;
}

.organization {
  font-size: 1.2em;
  font-style: italic;
  font-weight: 400;
}

.date {
  font-size: 1em;
  font-weight: 700;
  margin: 2px 0 0;
}

/* Paragraph spacing */
.description {
  margin: 10px 0;
}

/* Contact menu */
.menu {
  margin: 10px 0 20px;
  padding: 0;
  text-align: center;
}

.menu li {
  display: inline;
  padding: 0 20px;
}

#degrees,
#do {
  margin-top: 5px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

#headshot-container {
  text-align: center;
}

#headshot {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #33485e;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  font-size: 1em;
}

/* Link states */
a:link {
  font-weight: 600;
  color: #0bc5f4;
}

a:hover {
  color: #33485e;
}

a:visited {
  color: #6e38c7;
}

a {
  text-decoration: none;
}
